body {
    background-color: rgb(150, 159, 167);
}
#HEAD {
    background-color: aliceblue;
}

#left {
    background-color: rgb(6, 156, 156);
}

#right {
    background-color: aquamarine;
}